@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
}