@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2D6B3,#F2B705);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b48802d7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 0px #bb7007ce;
}

h2 {
    color: #060af3;
}
p {
    text-align: justify;
}